# domserver
CONTAINER_TIMEZONE=Asia/Tehran
MYSQL_HOST=mariadb

# Change the passwords in production
# db
MYSQL_ROOT_PASSWORD=mysql_root_password
MYSQL_USER=domjudge
MYSQL_PASSWORD=djpw
MYSQL_DATABASE=domjudge
MARIADB_MYSQL_LOCALHOST_USER=1

#https://hub.docker.com/r/domjudge/judgehost
